In [65]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt

In [66]:
df = pd.read_csv('games.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
None

In [67]:
df_duplicados = df.duplicated().sum()
print(f'valores duplicados {df_duplicados}')

valores duplicados 0

In [68]:
df_nulos = df.isna().sum()
print(f'valores nulos \n\n{df_nulos}')

valores nulos

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

In [69]:
df.columns = df.columns.str.lower()
print(df.columns)

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

In [75]:
df['name'].fillna('desconocidos',inplace=True)

In [79]:
df['year_of_release']= df['year_of_release'].fillna(0).astype('int')

In [74]:
df['genre'].fillna('Genero desconocido', inplace=True)

In [87]:
df['user_score'].replace('tbd', np.nan, inplace=True)
df['user_score'] = df['user_score'].astype('float')

In [86]:
df.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

In [88]:
df['rating'].fillna('rating desconocido', inplace=True)